.btn.rounded-pill{
    background-color: #21b573;
    color: #f0fff0;
    padding-left: 15px;
    padding-right: 15px;
    
}
.container{
    display: flex;
}
.top1{
    padding-top: 50px;
    
}
.top{
    padding-top: 100px;
    display: flex;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 100px;
    

}
.imgC{
    width: 100px;
}
